body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url(https://thumbs.gfycat.com/DapperHatefulGrayfox-size_restricted.gif);
  background-repeat: none;
  background-size: cover;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUp{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer, .mrBean{
  position:absolute;
}

.discoball {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 7%;
}

.cat {
  height: 50px;
  width: auto;
  position: relative;
  /* transform: rotate(); */
}
